/************* reset ***********************/
@charset "utf-8";
*{ font-family:Verdana, Lucida, Arial, Helvetica,宋体,sans-serif; font-size:12px; }
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre, form,fieldset,input,textarea,p,blockquote,select { padding: 0; margin: 0;} 
table { border-collapse: collapse\9; border-spacing: 0;} img { border: 0; } 
address,caption,cite,code,dfn,em,strong,th,var { font-weight: normal; font-style: normal; } 
ol,ul,li { list-style: none; } caption { text-align: left; } q:before,q:after { content:; } abbr,acronym { border: 0; }
fieldset{border:1px solid #cae2f9; padding:5px; background:url("../images/select_Emp_bg.gif") repeat-x top; _background-position:0px 15px;}
fieldset legend{padding:2px 3px;background:url(../images/btn_bg.gif) repeat-x; border:1px solid #a4c9ec; *background-position:0px -3px; color:#333333;}

a:link ,a:visited{color:#0066CC; text-decoration:underline !important; cursor:pointer;}
a:hover , a:active{color:#ff6600; text-decoration:none !important; cursor:pointer;}
.Link_blue1 a:link , .Link_blue1 a:visited{color:#0066CC; text-decoration:underline !important; cursor:pointer;}
.Link_blue1 a:hover , .Link_blue1 a:active{color:#ff6600; text-decoration:none !important; cursor:pointer;}

.displayB{display:block;}

.help_body{background:url(../images/help_mainLeft_bg.gif) left repeat-y; overflow:auto;}
.help_body1{padding:10px 0px 0px 10px;}

.alignL{ text-align:left;}
.alignC{ text-align:center;}
.displayN{display:none;}
.floatL{float:left;}

h2,h3{ font-weight:bold;font-size:13px; padding-left:18px;}
h2{ background:url(../images/icon_title4.gif) left center no-repeat;padding-top:3px\9;}
h3{ background:url(../images/icon_title5.gif) left center no-repeat;padding-top:3px\9; /*margin-left:2em;*/}
h2{ font-weight:bold;font-size:13px; padding-left:18px; background:url(../images/icon_title4.gif) left center no-repeat;padding-top:3px\9;}
ol{color:#ff6600;}
.help_mainContant p{text-indent: 2em;}

.list_dot{color:#66CC00; font-size:12px; font-family:Verdana, Arial, Helvetica, sans-serif}
/************* main ***********************/
	/* head */
	.help_headBox{background:url(../images/help_headBox_bg.gif) top repeat-x; height:80px;}
	.help_headBox1{background:url(../images/help_headBox_bg.gif) top repeat-x; height:80px;width:1000px;}
	.help_headBox_left_cn{background:url(../images/help_headBox_logo.gif) top left no-repeat;height:80px;width:1000px;}
	.help_headBox_left{background:url(../images/help_headBox_logo01.gif) top left no-repeat;height:80px;width:1000px;}
	.help_headBox_title{color:#333333;font-size:26px;font-weight:bold;padding:10px 0 0 75px;}
	/* main */
		/* main-left */
		.help_mainContainer{}
		.help_mainLeft{width:164px;position:absolute;top:77px;left:0px;background:url(../images/help_mainLeft_bg.gif) left repeat-y;padding-top:20px;}
		.help_title_corner{margin:3px 0px 3px 10px;margin:0px 0px 0px 10px\9;}
		.help_title_corner .inner{padding:3px 5px 1px 0px;padding:0px 5px 1px 0px\9;}
		.help_title_corner .inner ul li li{margin-left:10px;}
		.help_title_corner .inner *{/*line-height:22px;*/}
		.help_title_corner .inner ul li a{line-height:18px; margin-top:3px;}
		.help_title_corner .inner p a{text-decoration:none !important; color:#000000; font-size:13px;}
		.help_title_corner .tl,.help_title_corner .tr,.help_title_corner .bl,.help_title_corner .br{height:2px; line-height:2px; overflow:hidden;width:2px;}
		.help_title_corner .bl,.help_title_corner .br{margin-top:-2px;}				
		.corner_focus .inner{border:solid #98c1d1;background-color:#FFFFFF;border-width:1px 0px 1px 1px;}
		.corner_focus .tl,.corner_focus .tr,.corner_focus .bl,.corner_focus .br{ display:table; background:url(../images/help_bg.gif) no-repeat;}
		
		.help_title_corner .tl{background-position:0px 0px;float:left;}
		.help_title_corner .tr{background-position:-2px 0px;float:right;}
		.help_title_corner .bl{background-position:0px -2px;float:left;}
		.help_title_corner .br{background-position:-2px -2px;float:right;}
		
		.help_title_corner .ul_help_list{display:none;}
		.corner_focus .ul_help_list{display:block;}
		.help_title_corner p{ cursor:pointer;/*height:22px; */margin-left:5px;padding-left:12px; background:url(../images/icon_title.gif) no-repeat;background-position: left 7px; _background-position: left  6px; /*float:left;*/}
		.help_title_corner p{font-size:13px;}
		.corner_focus p{ cursor:pointer;/*height:22px;*/ margin-left:5px;padding-left:12px; background:url(../images/icon_title1.gif)  no-repeat; background-position: left  6px;}		
		.ul_help_list{margin-left:10px;}
		.ul_help_list li a{padding-left:6px;background:url(../images/icon_title2.gif) left center no-repeat; background-position: left 4px\9; outline:none;}				
		.corner_focus a.list_focus{background:url(../images/icon_title3.gif) left center no-repeat; background-position: left 4px\9; font-weight:bold;}
		/*mainRight*/
		.help_mainRight{width:836px;position:absolute;top:77px;left:164px;}
		.help_mainContant,.help_mainContant p,.help_mainContant li,.help_mainContant b{font-size:13px !important;}
		
		/*btn_goTop*/
		.help_goTop{position:fixed;_position:absolute; bottom:0px; left:930px;top:auto;z-index:5000;width:67px;height:33px;background:url(../images/icon_goTop.gif) top no-repeat; /*display:none;*/ overflow:hidden;}
		.help_goTop ul li{display:block; cursor:pointer; float:left; font-size:10px;line-height:10px;width:33px;text-align:center; color:#e17b28}
		.help_goTop ul li a{font-size:10px; text-decoration:none;color:#e17b28;}
		
		.help_goTop_down,.help_goTop_up{ display:block; width:100%; text-align:center; margin:0px 0px 3px 0px;font-size:7px; color:#000000;height:7px;cursor:pointer;}
		.help_goTop_up{display:none;}
		.help_goTop_bgDown{background:url(../images/icon_goTop1.gif) top no-repeat;}
		
		/* main contant*/
		.help_position{padding:1px 0px 2px 3px ; margin-bottom:10px; background:url(../images/siteMap_bg.gif);border-bottom:1px solid #eeeeee;}
		.help_positionIcon{padding:0px 0px 2px 15px; background:url(../images/icon_position.gif) no-repeat; background-position:left 2px; background-position:left 0px\9;}
	

.clear{height:1px !important;line-height:1px !important;overflow:hidden !important;  clear:both; border:0px;padding:0px;margin:0px;}
.clear:after {content:".";display:block;height:0;clear:both;visibility:hidden;}

/*list visibility*/
.att #id_help_mainLeft .iaccess{display:none;}
.iaccess #id_help_mainLeft .att{display:none;}

.att .help_mainRight .iaccess,.att .help_mainRight .zkeco{display:none;}
.iaccess .help_mainRight .att,.iaccess .help_mainRight .zkeco{display:none;}
/*.zkeco .help_mainRight .iaccess,.zkeco .help_mainRight .att{display:none;}*/

.help_body1 .zkeco .iaccess,.help_body1 .zkeco .acc,.help_body1 .zkeco .att{display:none !important;}
.help_body1 .att .iaccess,.help_body1 .att .acc,.help_body1 .att .zkeco{display:none !important;}
.help_body1 .iaccess .att,.help_body1 .iaccess .zkeco{display:none !important;}

.help_body1 .iaccess .zkecoatt,.help_body1 .iaccess .att{display:none !important;}
.help_body1 .att .zkecoiaccess,.help_body1 .att .zkecoacc,.help_body1 .att acc{display:none !important;}

.show_msg_box{width: 500px; margin: 0px auto;border:0px solid #BBE1F1;margin:200px auto auto auto;font-size:13px; font-weight:bold; text-align:left;}
.xsnazzy { width: 370px;width: 500px\9; height:59px;height:91px\9; float:left; margin:0 3px;
 }
.xboxcontent { display:block; border:0 solid #BBE1F1; border-width:0 1px; height:auto; background-color:#EEFAFF;padding:20px 5px 20px 110px;background: #EEFAFF url(../images/img1.gif) 1px -7px no-repeat;}
* html .xboxcontent {height:1px;}

.monitor_all_doors td{width: 100px;border: 1px solid #CAE2F9;}
.monitor_all_doors td img{width: 35px;}
