{% extends "Acc_Door_Set.html" %}
{% load i18n %}

{% block acc_door_set %}
    {% if request.user|HasPerm:"iaccess.browse_accinterlock" %}

        $("#id_datalist").model_grid({
            "model_url": "{{ model_url }}",
            "disabled_actions": ["_change"]
        });
    {% else %}<!--browse_accinterlock-->
        alert(gettext("对不起，您没有访问该页面的权限，不能浏览更多信息！"));
        window.location.href = "/{{ request.surl }}accounts/login/";
    {% endif %}<!--browse_accinterlock-->
{% endblock %}




