{% extends "Acc_Door_Set.html" %}
{% load i18n %}

{% block acc_door_set %}
    {% if request.user|HasPerm:"iaccess.browse_accwiegandfmt" %}
        $("#id_datalist").model_grid({
            "model_url":"{{ model_url }}",
            "row_operations":["op_edit","_delete"],
            "disabled_actions":["_change"]
        });
    {% else %}<!--browse_accwiegandfmt-->
        $("#id_datalist").remove();
        alert(gettext("对不起,您没有韦根卡格式设置的权限,不能进行当前操作！"));
        window.location.href = "/{{ request.surl }}accounts/login/";
    {% endif %}<!--browse_accwiegandfmt-->
{% endblock %}

