@charset "UTF-8";
.mbmenu{
  display:none;
}
.rootVoices{
	background-color:#d3d3d3;
	padding:5px;
	padding-bottom:0;
}
.rootVoices td.rootVoice {
	vertical-align:middle;
	background-color:transparent;
	width:120px;
	font-family:Arial,Helvetica,sans-serif;
	font-size:16px;
	line-height:18px;
	padding:2px;
	cursor: pointer;
	/*-moz-border-radius:8px 8px 0 0;*/
	/*-webkit-border-top-right-radius:8px;*/
	/*-webkit-border-top-left-radius:8px;*/
}

.rootVoices td.rootVoice.selected{
	background: orangered url("../img/bgnd_sel_4.png");
	padding:2px;
	color:#222222;
	cursor: pointer;
	font-size:16px;
/*  text-shadow:#660033 1px 1px 1px;
  -moz-box-shadow:#999 2px 2px 10px;
  -webkit-box-shadow:#999 2px 2px 10px;*/
}

.rootVoices.vertical {
	width:140px;
}
.rootVoices.vertical td.rootVoice{
/*	-moz-border-radius:8px 0px 0 8px;
	-webkit-border-top-right-radius:0px;
	-webkit-border-top-left-radius:8px;
	-webkit-border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:8px;*/

}

.menuShadow{
	padding:2px;
	padding-bottom:0px;
	left:-2px;
	top:1px;
}

/**/

.menuContainer{
	background-color:#FFFFFF;
	border:1px solid #B3B3B2;
	color:#222222;
	padding:0;
/*  -moz-box-shadow:#999 2px 2px 10px;
  -webkit-box-shadow:#999 2px 2px 10px;*/
}
.menuContainer .line{
	background-color:transparent;
	width:100%;
}
.menuContainer .line.title {
/*	background-color:#B23305;
	font-size:14px;
	font-family:Arial,Helvetica,sans-serif;	
	border-bottom:1px solid darkred;*/
}
.menuContainer .line.title a{
	font-size:14px;
}
.menuContainer td {
	border-bottom:1px dotted #dddddd;
}
.menuContainer td a{
	text-decoration:none;
	color: #222222;
	display: block;
	padding: 3px 4px !important;
    padding-left:10px !important;
	background:url("../images/images_icon.gif") -808px -20px no-repeat !important;
	text-align:left !important;	
	height:14px !important;
	border:none !important;
}
.menuContainer td.voice{
	font-family:Arial,Helvetica,sans-serif;
	font-size:14px;
    padding-left:7px;
}
.menuContainer .separator{
	background-color:#999;
	height:1px;
}
.menuContainer .textBox{
	padding: 10px;
	font-family:Arial,Helvetica,sans-serif;
	font-size:14px;
	color: #c3c3c3;
}
.menuContainer .selected td{
	background-color:#f3f3f3;
	/*background-image:url("../img/bgnd_sel_2.jpg")*/
	background:#b2e1ff url("../images/images_icon.gif") -787px -35px no-repeat;
}
.menuContainer .selected td a{
	color:#000;
	/*text-shadow:#fff 2px 2px 1px;*/
	background:none !important;
}
.menuContainer .disabled td, .menuContainer .disabled td a {
	color: #cccccc;
}
.menuContainer .subMenuOpener{
	background-image:url("../img/menuArrow_w.gif") !important;
	background-repeat:no-repeat;
	background-position:right;
}
.menuContainer .selected .subMenuOpener{
	background-image:url("../img/menuArrow.gif") !important;
	background-repeat:no-repeat;
	background-position:right;
}
