.field_widget{/*border: #9dc2e1 1px solid; background: #f3f7ff;height:87;width:100px;margin-top:0px;margin-bottom:3px;margin-left:3px;margin-right:3px;*/}
.report_container_field{width:575px;height:268px;margin-top:0px;}
.report_container_other{width:575px;height:124px;margin-top:0px;}\
div.editformbtn_edit{display:block;width:96%;padding:5px 0px 0px 0px;margin:10px 10px 10px 10px ;border-top:1px dotted #85A0C7;text-align: left;float: left;}
div.editformbtn_edit div{padding: 5px;margin-right: 15px; float:left;}
.editformbtn_edit div span{ background-image:url(../images/images_icon.gif); background-repeat:no-repeat;width:16px; height:22px;display:block;float:left;padding-right:3px;}
.field_display{margin-left:5px;margin-right:5px;}
/*.go_right,.go_left{width:10px;}
.txt_field{display:block;color:blue;text-align:center}*/
.page_header input,.page_footer input,.page_header select,.page_footer select{width:80px !important;height:auto;}
.flt_o_btn{float:right !important;margin-top:5px;}
.adv_ctn{width:450px;margin:3px;}
.filter_con{width:100%;}