@charset "UTF-8";
/* root element for tabs  */
ul.tabs { 
	list-style:none; 
	margin:0 !important; 
	padding:0;
	height:26px;
	padding-left:1px;
}

/* single tab */
ul.tabs li { 
	float:left;	 
	text-indent:0;
	padding:0;
	margin:0 !important;
	list-style-image:none !important; 
}

/* link inside the tab. uses a background image */
ul.tabs a {
	font-size:12px;
	display:block;
	_float:left;
	height: 25px;  
	line-height:25px;
	text-align:center;	
	text-decoration:none;
	padding:0px 5px;
	margin:0px;	
	position:relative;
	top:1px;
	border-style:solid;
	border-width:1px 0px 0px 0px;
	word-break:keep-all;word-wrap:normal;white-space:nowrap;
}

ul.tabs a:active {outline:none;}

/* when mouse enters the tab move the background image */
ul.tabs a:hover {text-decoration:none;}

/* active tab uses a class name "current". it's highlight is also done by moving the background image. */
ul.tabs a.current, ul.tabs a.current:hover, ul.tabs li.current a {
	cursor:default !important; 
	text-decoration:none;
}

div.panes div.pane {
	display:none;		
}

