<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Help Center</title>	
	<link rel="shortcut icon" href="/file/help_en/images/help_ico.ico" type="image/x-icon" > 
	<link rel="stylesheet" type="text/css" href="/file/help_en/css/help.css" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<script src="/file/help_en/jquery.js"></script>
	<script src="/file/help_en/js.js" type="text/javascript" language="javascript"></script>
</head>
<body class="help_body" onLoad="fix()" onScroll="fix()" onResize="fix()">
	<div class="help_headBox">
		<div class="help_headBox1">
			<div class="help_headBox_left">
				<div class="help_headBox_title">
					Help Center
				</div>
			</div>
		</div>
	</div>
	<div class="help_mainContainer">
		<div class="help_mainLeft" id="id_help_mainLeft">
			<div class="help_title_corner corner_focus">
				<b class="tl"></b>
				<div class="inner">
					<p>Home</p>
					<div class="clear"></div>
					<ul class="ul_help_list Link_blue1">
						<li><a href="/file/help_en/index.html" target="main">Home</a></li>
					</ul>
				</div>
				<b class="bl"></b>
			</div>
			<div class="help_title_corner">
				<b class="tl"></b>
				<div class="inner">
					<p><a href="/file/help_en/softwareInUnstall.html"  target="main">Software Installation And Uninstall</a></p>
					<div class="clear"></div>
					<ul class="ul_help_list Link_blue1">
						<li><a href="/file/help_en/softwareInstall.html" target="main">Software Installation</a></li>
						<li class="zkeco att"><a href="/file/help_en/fingerprintDriverInstall.html" target="main">Fingerprint Sensor Driver Installation</a></li>						
						<li><a href="/file/help_en/softwareUninstall.html" target="main">Software Unistall</a></li>
					</ul>
			  </div>
				<b class="bl"></b>
			</div>
			<div class="help_title_corner">
				<b class="tl"></b>
				<div class="inner">
					<p>Quick Guide</p>
					<div class="clear"></div>
					<ul class="ul_help_list Link_blue1">
						<li><a href="/file/help_en/functionInfo.html" target="main">Functions Instruction</a></li>
						<li><a href="/file/help_en/useFlow.html" target="main"> Basic Operation Flow</a></li>
					</ul>
				</div>
				<b class="bl"></b>
			</div>
			<div class="help_title_corner">
				<b class="tl"></b>
				<div class="inner">
					<p>System Management</p>
					<div class="clear"></div>
					<ul class="ul_help_list Link_blue1">
						<li><a href="/file/help_en/systemManage.html" target="main">System Management</a></li>
					</ul>
				</div>
				<b class="bl"></b>
			</div>			
			<div class="help_title_corner">
				<b class="tl"></b>
				<div class="inner">
					<p>My Panel</p>
					<div class="clear"></div>
					<ul class="ul_help_list Link_blue1">
						<li><a href="/file/help_en/worktable.html" target="main"> My Panel</a></li>
					</ul>
				</div>
				<b class="bl"></b>
			</div>
			<div class="help_title_corner">
				<b class="tl"></b>
				<div class="inner">
					<p><a href="/file/help_en/personnel.html" target="main">Personnel System Management</a></p>
					<div class="clear"></div>
					<ul class="ul_help_list Link_blue1">
						<li><a href="/file/help_en/department.html" target="main">Department</a></li>
						<li><a href="/file/help_en/employee.html" target="main">Personnel</a></li>						
					    <!--  <li class="zkeco att"><a href="/file/help_en/empchange.html" target="main">Transfer</a></li>-->
						<li class="zkeco att"><a href="/file/help_en/leavelog.html" target="main">Departure</a></li>
						<li><a href="/file/help_en/issuecard.html" target="main">Card issue</a></li>
						<!--<li class="zkeco att"><a href="/file/help_en/empitemdefine.html" target="main">Reports</a></li>-->
					</ul>
				</div>
				<b class="bl"></b>
			</div>
			<div class="help_title_corner">
				<b class="tl"></b>
				<div class="inner">
					<p><a href="/file/help_en/iclock.html" target="main">Device Management</a></p>
					<div class="clear"></div>
					<ul class="ul_help_list Link_blue1">
						<li><a href="/file/help_en/area.html" target="main">Area settings</a></li>
						<li><a href="/file/help_en/device.html" target="main">Device management</a></li>
						<li><a href="/file/help_en/dstime.html" target="main">Daylight Saving Time</a></li>						
						<li><a href="/file/help_en/devcmd.html" target="main">Commands sent by server</a></li>
						<li class="zkeco att"><a href="/file/help_en/devlog.html" target="main">Device communication log</a></li>
						<li class="zkeco att"><a href="/file/help_en/operatecmd.html" target="main">Communication command details</a></li>
						<li class="iaccess zkeco"><a href="/file/help_en/devrtmonitorpage.html" target="main">Device monitoring</a></li>
					</ul>
				</div>
				<b class="bl"></b>
			</div>
			<div id="mysite.iaccess" class="help_title_corner">
				<b class="tl"></b>
				<div class="inner">
					<p><a href="/file/help_en/iaccess.html" target="main">Access Control System</a></p>
					<div class="clear"></div>
					<ul class="ul_help_list Link_blue1">
						<li><a href="/file/help_en/acctimeseg.html" target="main">Time Zones</a></li>
						<li><a href="/file/help_en/accholidays.html" target="main">Holidays </a></li>						
						<li><a href="/file/help_en/doormngpage.html" target="main">Door settings</a>
							<ul>
							    <li><a href="/file/help_en/doormngpage.html" target="main">Door management</a></li>
							    <li style="display:none"><a href="/file/help_en/accdoor.html" target="main">门</a></li>
								<li><a href="/file/help_en/accfirstopen.html" target="main">First-Card Normal Open</a></li>
								<li><a href="/file/help_en/accmorecardempgroup.html" target="main">Multi-Card Opening Personnel Groups</a></li>
								<li><a href="/file/help_en/accmorecardset.html" target="main">Multi-Card Opening</a></li>
								<li><a href="/file/help_en/accinterlock.html" target="main">Interlock settings</a></li>
								<li><a href="/file/help_en/accantiback.html" target="main">Anti-passback</a></li>
								<li><a href="/file/help_en/acclinkageio.html" target="main">Linkage Setting</a></li>
							</ul>
						</li>
						<li><a href="/file/help_en/acclevelset.html" target="main">Access Levels
</a></li>
						<li><a href="/file/help_en/emplevelbylevelpage.html" target="main">Personnel Access Levels</a>
							<ul>
								<li><a href="/file/help_en/emplevelbylevelpage.html" target="main">Shown by Access Levels</a></li>
								<li><a href="/file/help_en/emplevelbyemppage.html" target="main">Shown by Personnel </a></li>
							</ul>
						</li>
						<li><a href="/file/help_en/rtmonitorpage.html" target="main">Real-time monitoring</a>
							<ul>
								<li><a href="/file/help_en/monitorallpage.html" target="main">Monitoring all</a></li>
								<li><a href="/file/help_en/monitoralarmpage.html" target="main">Alarm event</a></li>
								<li><a href="/file/help_en/monitorelectromap.html" target="main">Electro-Map</a></li>
							</ul>
						</li>					
						<li><a href="/file/help_en/reportFormPage.html" target="main">Reports</a>
							<ul>
								<li><a href="/file/help_en/alleventreportpage.html" target="main">All access control events</a></li>
								<li><a href="/file/help_en/alarmeventreportpage.html" target="main">Access control exception events</a></li>
								<li><a href="/file/help_en/emplevelreportpage.html" target="main">Personnel access level</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<b class="bl"></b>
			</div>
			
			{% if "mysite.video"|hasApp %}
			<div class="help_title_corner">
				<b class="tl"></b>
				<div class="inner">
					<p>Video System </p>
					<div class="clear"></div>
					<ul class="ul_help_list Link_blue1">
						<li><a href="/file/help_en/networkvideorecorder.html" target="main">Network Video Recorder </a></li>
					</ul>
				</div>
				<b class="bl"></b>
			</div>	
			{% endif %}
					
			{% if "HIDE_ATT_EN"|filter_config_option %}
			{% else %}
			<div id="mysite.att" class="help_title_corner">
				<b class="tl"></b>
				<div class="inner">
					<p><a href="/file/help_en/attendance.html" target="main">Attendance</a></p>
					<div class="clear"></div>
					<ul class="ul_help_list Link_blue1">
						<li><a href="/file/help_en/empspecday.html" target="main">Exception	</a></li>
						<li><a href="/file/help_en/checkexact.html" target="main">Append log</a></li>						
						<li><a href="/file/help_en/attuserofrun.html" target="main">Scheduling</a></li>
						<li><a href="/file/help_en/transaction.html" target="main">Original records</a></li>
						<li><a href="/file/help_en/attcalculate.html" target="main">Attendance calculation and reports</a></li>			
						<li><a href="/file/help_en/schclass.html" target="main">Attendance timetable</a></li>							
						<li><a href="/file/help_en/num_run.html" target="main">Shift management</a></li>
						{%if not "IACCESS_WITH_ATT"|filter_config_option %}
							<li><a href="/file/help_en/devicedatamanage.html" target="main">Attendance device management</a></li>
						{% endif %}
						<li><a href="/file/help_en/holiday.html" target="main">Attendance holiday</a></li>	
						<li><a href="/file/help_en/setuseratt.html" target="main">Reschedule</a></li>								
						<li><a href="/file/help_en/leaveclass.html" target="main">Exception type</a></li>		
						<li><a href="/file/help_en/attparam.html" target="main">Attendance parameters</a></li>
						{%if not "IACCESS_WITH_ATT"|filter_config_option %}
							<li><a href="/file/help_en/deviceusermanage.html" target="main">Device User Manage</a></li>											
						{% endif %}
					</ul>
				</div>
				<b class="bl"></b>
			</div>	
			{% endif %}		
			<div class="help_title_corner">
				<b class="tl"></b>
				<div class="inner">
					<p><a href="/file/help_en/syssetting.html" target="main">System Settings</a></p>
					<div class="clear"></div>
					<ul class="ul_help_list Link_blue1">
						<li><a href="/file/help_en/group.html" target="main">Role management</a></li>
						<li><a href="/file/help_en/user.html" target="main">User management</a></li>						
						<li style="display:none;"><a href="/file/help_en/#" target="main">基础代码表</a></li>
						<li><a href="/file/help_en/dbbackuplog.html" target="main">Database management</a></li>
						<li><a href="/file/help_en/appoption.html" target="main">System parameters</a></li>
						<li class="zkeco att"><a href="/file/help_en/groupmsg.html" target="main">System reminder</a></li>						
						<li class="zkeco att"><a href="/file/help_en/instantmsg.html" target="main">Notice issue</a></li>
						<li class="zkeco att"><a href="/file/help_en/msgtype.html" target="main">Notice type</a></li>
						<li><a href="/file/help_en/logentry.html" target="main">Log records</a></li>	
					</ul>
				</div>
				<b class="bl"></b>
			</div>
			<div class="help_title_corner">
				<b class="tl"></b>
				<div class="inner">
					<p>Appendix</p>
					<div class="clear"></div>
					<ul class="ul_help_list Link_blue1">
						<!--<li><a href="/file/help_en/addenda1.html" target="main">名词解释</a></li>-->
						<li><a href="/file/help_en/addenda2.html" target="main">Common operation</a></li>						
						<li><a href="/file/help_en/addenda3.html" target="main">END-USER LICENSE AGREEMENT FOR THIS SOFTWARE</a></li>	
						<li><a href="/file/help_en/addenda4.html" target="main">FAQs</a></li>	
					</ul>
				</div>
				<b class="bl"></b>
			</div>	
		</div>
		<div class="help_mainRight">
			<iframe name="main" id="main" onload="setIframeHeight(this)" allowtransparency="true" scrolling="auto" height="auto"
			 frameBorder="0" width="836px"  >
			</iframe>
		</div>
		<div class="clear"></div>
	</div>
	<div class="help_goTop" id="bar">
		<span class="help_goTop_down" onClick="javascript:GoTop_down()"></span>
		<span class="help_goTop_up" onClick="javascript:GoTop_up()"></span>
		<ul>
			<li onClick="javascript:window.location.href='#Top'">Top</li>
			<li onClick="javaScript:closeHelp()">Close</li>
		</ul>
</div>
<div id="id_appData" style="display:none;">
{% for app in apps %}
	{% if forloop.last %}
		{{app}}
	{% else %}
		{{ app }}__
	{% endif %}
{% endfor %}
</div>
<div id="id_model_address" class="displayN">{{redirect_url}}</div>

</body>
</html>
