{% load i18n %}

{% block breadcrumbs %}<div class="breadcrumbs"><a href="../">{% trans 'Home' %}</a> &rsaquo; {% trans '口令重设' %}</div>{% endblock %}

{% block title %}{% trans "口令重设" %}{% endblock %}

{% block content %}

<h1>{% trans "口令重设" %}</h1>

<p>{% trans "忘记了你的口令？请在下面输入你的 e-mail 地址，我们将重设你的口令并将新口令通"过邮件发送给你。" %}</p>

<form action="" method="post">
{% if form.email.errors %}{{ form.email.html_error_list }}{% endif %}
<p><label for="id_email">{% trans 'E-mail 地址：' %}</label> {{ form.email }} <input type="submit" value="{% trans '重设我的口令' %}" /></p>
</form>

{% endblock %}
