{% extends "data_opform.html" %}
{% load i18n %}

{% block pre_addfields %}
	<tr>
		<td>
			<table>
			    <tr>
			        <th><label for="id_import_data">{% trans "选择需要导入的文件" %}:</label></th>
			        <td>
			            <input type="file" name="import_data" class="wZBaseFileField" id="id_import_data">
			        </td>
			    </tr>
			    <tr>
			        <th></th>
			        <td>{% trans "只支持.xls和.csv 格式文件" %} &nbsp;<!--<a target="_blank" href="/data/system/help/?p=/file/{{ LANGUAGE_CODE }}/help/employee_import.html">{% trans "如何获取?" %}</a>--></td>
			    </tr>
			   
			</table>
		</td>
		<td width = "30px"></td>
		<td>
			<table>
			    <tr>
			    	<th><label for="model_show">{% trans "导入模版示例" %}:</label></th>
			        <td id= "model_show">
			        	<div width="300" height="200">
                        {% if "POS_ID"|filter_config_option %}
                            <img  src="{{ MEDIA_URL }}/images/id_import_exam.jpg">
                        {%else%}
			        		<img  src="{{ MEDIA_URL }}/images/ic_import_exam.jpg">
                        {% endif%}
			        	</div>
			        </td>
			    </tr>
				<tr>
			    	<th><label for="id_import_desc">{% trans "说明" %}:</label></th>
			    	{% if "POS_ID"|filter_config_option %}
			    	<td>
			    		<br/>
                        <p>1、导入模板需要表头
                        <p>2、"人员编号"，"补贴金额"是必选字段。
                        <p>3、导入的人员必须是登记过卡号的人员，并且该人员的对应的ID卡必须是有效的卡。
                        <p>4、补贴导入成功后系统会自动下发设备指令，（直接审核通过）不可以再做修改！
			    	</td>
                    {%else%}
                    <td>
                        <br/>
                        <p>1、导入模板需要表头
                        <p>2、"人员编号"，"补贴金额"，"补贴有效日期"是必选字段。
                        <p>3、补贴有效日期的格式为YYYY-MM-DD，如2011-01-01，在Excel表格中该字段应该为 文本格式。
                        <p>4、导入的人员必须是登记过卡帐号的人员，并且该人员的对应的IC卡必须是有效的卡。员工每月只支持一次补贴！
                        <p>5、补贴导入成功后系统会自动下发设备指令，（直接审核通过）不可以再做修改！
                    </td>
                    {% endif%}
			    </tr>
			    <tr>
			    	<th></th>
			        <td>
                    {% if "POS_ID"|filter_config_option %}
			        	<a target="_blank" href="/{{request.surl}}file/import_templates/id_allow_import.xls">{% trans ">> 获取导入模版" %}</a>
			        {%else%}
                        <a target="_blank" href="/{{request.surl}}file/import_templates/ic_allow_import.xls">{% trans ">> 获取导入模版" %}</a>
			        {% endif%}
			        </td>
			    </tr>
			</table>	
		</td>
	</tr>

    <tr>
        <td clospan="2">
            <input name = "app_label" type="hidden"  value="{{ app_label }}" />
            <input name = "model_name" type="hidden" value="{{ model_name }}" />
        </td>
    </tr>
    
    
{% endblock %}

{% block addjs %}
    
{% endblock %}
